<body id="page-top">
  <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand page-scroll" href="#page-top">Quincy Iheme</a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right">
                  <li>
                      <a class="page-scroll" href="#about">About</a>
                  </li>
                  <li>
                      <a class="page-scroll" href="#services">Services</a>
                  </li>
                  <li>
                      <a class="page-scroll" href="#portfolio">Portfolio</a>
                  </li>
                  <li>
                      <a class="page-scroll" href="#contact">Contact</a>
                  </li>
              </ul>
          </div>
          <!-- /.navbar-collapse -->
      </div>
      <!-- /.container-fluid -->
  </nav>

  <header>
      <div class="header-content">
          <div class="header-content-inner">
              <h1>Developer & Educator</h1>
              <hr>
              <p>Hi, I'm Quincy. I'm a developer with a learning for building awesome things with code and teaching it as well. Here, you can find out about what I've built, and how to get into contact with me.</p>
          </div>
      </div>
  </header>

  <section class="bg-primary" id="about">
      <div class="container">
          <div class="row">
              <div class="col-lg-8 col-lg-offset-2 text-center">
                  <h2 class="section-heading">Bio</h2>
                  <hr class="light">
                  <p class="text-faded">My journey into web developement started in January 2014 in General Assembly's Web Development Immersive course. Since then, I've become an Engineer at one of the biggest media companies in the world and TA for the Rutgers Coding Bootcamp. I also volunteer as an organizer for RailsBridge NYC.</p>
              </div>
          </div>
      </div>
  </section>

  <section id="services">
      <div class="container">
          <div class="row">
              <div class="col-lg-12 text-center">
                  <h2 class="section-heading">I <i class="fa fa-lg fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i> code</h2>
                  <hr class="primary">
              </div>
          </div>
      </div>
      <div class="container">
          <div class="row">
              <div class="col-lg-3 col-md-6 text-center">
                  <div class="service-box">
                      <i class="fa fa-4x fa-keyboard-o wow bounceIn text-primary"></i>
                      <h3>Languages</h3>
                      <p class="text-muted">I'd write code in Spanish, but I'm not sure the browser understands that so I write in Ruby, SQL and Javascript instead.</p>
                  </div>
              </div>
              <div class="col-lg-3 col-md-6 text-center">
                  <div class="service-box">
                      <i class="fa fa-4x fa-desktop wow bounceIn text-primary" data-wow-delay=".1s"></i>
                      <h3>Libraries/Frameworks</h3>
                      <p class="text-muted">Who doesn't love a good library or framework? Some of my favorites are Rails, Node, Backbone and a new library called Polymer.</p>
                  </div>
              </div>
              <div class="col-lg-3 col-md-6 text-center">
                  <div class="service-box">
                      <i class="fa fa-4x fa-code wow bounceIn text-primary" data-wow-delay=".2s"></i>
                      <h3>TDD/BDD</h3>
                      <p class="text-muted">Writing code is cool, but writing clean code is better, so I use Rspec, Jasmine, Cucumber and Selenium for unit and integration tests.</p>
                  </div>
              </div>
              <div class="col-lg-3 col-md-6 text-center">
                  <div class="service-box">
                      <i class="fa fa-4x fa-server wow bounceIn text-primary" data-wow-delay=".3s"></i>
                      <h3>Project Management</h3>
                      <p class="text-muted">It's difficult to manage projects with air bubbles in your head, so I use tools like JIRA, Pivotal Tracker, Slack and Trello to keep organized.</p>
                  </div>
              </div>
          </div>
      </div>
  </section>

  <section class="no-padding" id="portfolio">
      <div class="container-fluid">
          <div class="row no-gutter">
              <div class="col-lg-4 col-sm-6">
                  <a href="http://gothammetro.herokuapp.com" class="portfolio-box">
                      <%= image_tag "gotham_metro.png", class: "img-responsive", alt: "" %>
                      <div class="portfolio-box-caption">
                          <div class="portfolio-box-caption-content">
                              <div class="project-category text-faded">
                                  Gotham Metro
                              </div>
                              <div class="project-name">
                                  Never miss the PATH Train again with this application that gives all of the scheduled times
                              </div>
                          </div>
                      </div>
                  </a>
              </div>
              <div class="col-lg-4 col-sm-6">
                  <a href="http://triply.herokuapp.com" class="portfolio-box">
                      <%= image_tag "triply.png", class: "img-responsive", alt: "" %>
                      <div class="portfolio-box-caption">
                          <div class="portfolio-box-caption-content">
                              <div class="project-category text-faded">
                                  Trip.ly
                              </div>
                              <div class="project-name">
                                  Commuting directions courtesy of Google Maps
                              </div>
                          </div>
                      </div>
                  </a>
              </div>
              <div class="col-lg-4 col-sm-6">
                  <a href="http://warblr.herokuapp.com/" class="portfolio-box">
                      <%= image_tag "warblr.png", class: "img-responsive", alt: "" %>
                      <div class="portfolio-box-caption">
                          <div class="portfolio-box-caption-content">
                              <div class="project-category text-faded">
                                  Warblr
                              </div>
                              <div class="project-name">
                                  Jam to some music depending on your mood, genre or even the weather
                              </div>
                          </div>
                      </div>
                  </a>
              </div>
          </div>
      </div>
  </section>

  <aside class="bg-dark">
      <div class="container text-center">
          <div class="call-to-action">
              <h2>Download my Resume</h2>
              <%= link_to "Download Now!", download_pdf_path, class: "btn btn-default btn-xl wow tada" %>
          </div>
      </div>
  </aside>

  <section id="contact">
      <div class="container">
          <div class="row">
              <div class="col-lg-8 col-lg-offset-2 text-center">
                  <h2 class="section-heading">Let's Get In Touch!</h2>
                  <hr class="primary">
                  <p>Need to reach out? Feel free to call or email me.</p>
              </div>
              <div class="col-lg-4 col-lg-offset-2 text-center">
                  <i class="fa fa-phone fa-3x wow bounceIn"></i>
                  <p>973-652-6558</p>
              </div>
              <div class="col-lg-4 text-center">
                  <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                  <p><a href="mailto:qiheme@gmail.com">qiheme@gmail.com</a></p>
              </div>
          </div>
      </div>
  </section>
  <%= javascript_include_tag "jquery" %>
  <%= javascript_include_tag "bootstrap.min" %>
  <%= javascript_include_tag "jquery.easing.min" %>
  <%= javascript_include_tag "jquery.fittext" %>
  <%= javascript_include_tag "wow.min" %>
  <%= javascript_include_tag "creative" %>
</body>