<!DOCTYPE html>
<html>
  <link href='http://fonts.googleapis.com/css?family=Gloria+Hallelujah' rel='stylesheet' type='text/css'>
  <head>
    <title>Quincy</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="nav-bar">
      <ul>
        <%= link_to 'Home', root_path %>
        About Portfolio Contact
      </ul>
    </div>
    <%= yield %>
    <div id="footer">
      <ul>
        Website developed by Quincy Iheme
        <a href="mailto:qiheme@gmail.com">Email</a>
      </ul>
    </div>
  </body>
</html>
